* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #ececef;
}

.categories {
  height: 70vh;
}

.banner-scroll img {
  height: 70vh;
}

.marketregion {
  background-image: url(./components/Home/img/marketRegionBg.png);
  height: 50vh;
  background-repeat: no-repeat;
  width: 93%;
  margin: 0 auto;
  border-radius: 9px;
}

.mpDispla {
  width: 95%;
  margin: auto;
}
