* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #ececef;
}

.categories {
  height: 70vh;
}

.banner-scroll img {
  height: 70vh;
}

.marketregion {
  background-image: url(./components/Home/img/marketRegionBg.png);
  height: 50vh;
  background-repeat: no-repeat;
  width: 93%;
  margin: 0 auto;
  border-radius: 9px;
}

.mpDispla {
  width: 95%;
  margin: auto;
}

.electronics {
  width: 90%;
  margin: 0 auto;
  height: 90vh;
}
.electronicsBanner {
  background-image: url(./components/Home/img/consumerElectronics.jpg);
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
}

.electronicsCards {
  width: 80%;
  height: 85vh;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: auto;
}

/* product page */

/* .productsContainer {
  width: 95%;
  margin: 0 auto;
} */

.productsImg {
  width: 30%;
}

.productShortDetails {
  width: 40%;
}

.productToCart {
  width: 30%;
}

.loginSignup {
  background-image: url(./components/Formbackgrnd.png);
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}
